@mixin all {
    .header__drawer {
        top: 60px;
        right: -300px;
        min-width: 300px;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        border-style: solid;
        border-color: red;
        border-width: 0 0 0 0.12em;
        transition: all 0.2s ease-out;
        background-color: var(--color-article-background);

        &.change {
            right: 0;
        }

        ul {
            list-style: none;

            li {
                margin: 2px;

                a {
                    display: flex;
                    padding: 0 10px;
                    min-height: 44px;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--color-text);
                    text-decoration: none;
                    position: relative;

                    &.active {
                        background-color: var(--color-page-background);
                    }

                    &:hover {
                        background-color: var(--color-page-background);
                    }

                    .chevron {
                        width: 0.45em;
                        height: 0.45em;
                        border-style: solid;
                        border-width: 0.12em 0.12em 0 0;
                        transform: rotate(45deg);
                    }
                }

                .anchor__icon__container {
                    .anchor__icon {
                        width: 34px;
                        height: 34px;
                    }

                    .anchor__name {
                        margin-right: auto;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
