/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-31 14:53:36
 * @modify date 2020-08-31 14:53:36
 * @desc [description]
 */

@mixin all {
    .header__button {
        min-width: 44px;
        min-height: 44px;
        padding: 20px 20px;
        border: none;
        background: none;
        user-select: none;
        text-decoration: none;
        margin-left: auto;
        cursor: pointer;

        .humburger {
            display: block;
            position: relative;
            background: var(--color-text);
            width: 18px;
            height: 2px;
            transition: background 0.2s ease-out;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                background: var(--color-text);
                width: 100%;
                height: 100%;
                transition: all 0.2s ease-out;
            }

            &:before {
                top: 5px;
            }

            &:after {
                top: -5px;
            }
        }

        &.change {
            .humburger {
                background: transparent;

                &:before {
                    top: 0;
                    transform: rotate(-45deg);
                }

                &:after {
                    top: 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
