/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-31 14:54:16
 * @modify date 2020-08-31 14:54:16
 * @desc [description]
 */

@mixin navigation-drawer {
    .navigation__drawer {
        top: 60px;
        right: -300px;
        min-width: 300px;
        min-height: 100vh;
        overflow: hidden;
        position: absolute;
        background-color: var(--color-article-background);
        transition: all 0.2s ease-out;
        border-style: solid;
        border-color: red;
        border-width: 0 0 0 0.12em;

        &.change {
            right: 0;
        }

        ul {
            list-style: none;

            li {
                a {
                    display: flex;
                    padding: 0px 20px 0px 10px;
                    align-items: center;
                    justify-content: space-between;
                    min-height: 50px;
                    color: var(--color-text);
                    text-decoration: none;
                    position: relative;

                    &.active {
                        background-color: var(--color-page-background);
                    }

                    &:hover {
                        background-color: var(--color-page-background);
                    }

                    .chevron {
                        width: 0.45em;
                        height: 0.45em;
                        border-style: solid;
                        border-width: 0.12em 0.12em 0 0;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
