/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-31 14:54:49
 * @modify date 2020-08-31 14:54:49
 * @desc [description]
 */

@mixin toggle-switch {
    .toggle__container {
        display: flex;
        margin-left: auto;
        align-items: center;
        justify-content: space-between;

        .toggle__switch {
            width: 80px;
            height: 34px;
            position: relative;
            margin: 0 10px;
            background-color: #2196f3;
            border-radius: 34px;

            input {
                width: 0;
                height: 0;
                opacity: 0;

                &:checked + .slider {
                    background-color: #3a3b3c;
                }

                &:checked + .slider:before {
                    -webkit-transform: translateX(46px);
                    -ms-transform: translateX(46px);
                    transform: translateX(46px);
                }
            }

            svg {
                width: 24px;
                margin: 5px;
                height: auto;
                position: absolute;
                z-index: 1;
                color: yellow;

                & + svg {
                    left: 46px;
                }
            }

            .slider {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                cursor: pointer;
                -webkit-transition: 0.4s;
                transition: 0.4s;

                &:before {
                    content: "";
                    position: absolute;
                    margin: 4px;
                    right: 46px;
                    width: 26px;
                    height: 26px;
                    z-index: 2;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;
                }

                &.round {
                    border-radius: 34px;
                }

                &.round:before {
                    border-radius: 50%;
                }
            }
        }
    }
}
