:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 600px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: center / cover no-repeat url('../../../../assets/images/heros/hero-image.webp');

  .hero__placeholder {
    color: rgba(246, 205, 97);
    font-weight: bold;
    text-align: center;

    h1 {
      font-size: 3.5em;
      line-height: 90%;
      font-family: Arial, Helvetica, sans-serif;
      transition-property: transform;
      text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;

      .herotext__logo {
        font-family: 'Pacifico', cursive;
      }
    }
  }

  .hero__button {
    background-color: #2b6ca1;
    border: solid 2px #2b6ca1;
    color: white;
    padding: 16px 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .hero__background {
    .hero__placeholder {
      h1 {
        font-size: 4em;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .hero__background {
    .hero__placeholder {
      h1 {
        font-size: 6em;
      }
    }
  }
}

@media (hover: hover) {
  .hero__background {
    .hero__button {
      &:hover {
        background-color: #ffffff;
        color: black;
        transition: ease-in 0.3s;
      }
    }
  }
}
