:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 600px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: center / cover no-repeat url("../assets/images/heros/hero-image.webp");

  .hero__placeholder {
    width: 90%;
    color: rgba(246, 205, 97);
    font-weight: bold;
    text-align: center;

    h1 {
      font-size: 3.5em;
      line-height: 90%;
      font-family: Arial, Helvetica, sans-serif;
      transition-property: transform;
      background-color: var(--color-hero-background);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

      .medium {
        font-size: 0.75em;
        font-family: "Pacifico", cursive;
      }
    }
  }

  .hero__button {
    background-color: var(--color-button);
    border: solid 1px var(--color-button);
    color: white;
    padding: 16px 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
}
