.hero__container {
  width: 100%;
  min-height: 250px;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  .hero__placeholder {
    color: rgb(246, 205, 97);
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;

    h1 {
      font-size: 2.5em;
      line-height: 90%;
      font-family: Arial, Helvetica, sans-serif;
      text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -2px black;

      .herotext__logo {
        font-family: "Pacifico", cursive;
      }
    }

    .hero__button {
      visibility: hidden;
      background-color: #2b6ca1;
      border: solid 2px #2b6ca1;
      color: white;
      font-weight: 600;
      min-height: 44px;
      padding: 0 20px;
      text-transform: uppercase;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
      margin-top: 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 500px) {
  .hero__container {
    min-height: 350px;

    .hero__placeholder {
      top: 75px;

      h1 {
        font-size: 3em;
      }

      .hero__button {
        visibility: visible;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    min-height: 500px;

    .hero__placeholder {
      top: 125px;

      h1 {
        font-size: 4em;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .hero__container {
    .hero__placeholder {
      top: 150px;

      h1 {
        font-size: 5em;
      }

      .hero__button {
        font-size: 18px;
        min-height: 52px;
      }
    }
  }
}

@media (hover: hover) {
  .hero__container {
    .hero__button {
      &:hover {
        background-color: #ffffff;
        color: black;
        transition: ease-in 0.3s;
        transition-property: background-color, color;
      }
    }
  }
}
