@media screen and (min-width: 768px) {
    .hero__background {
        .hero__placeholder {
            width: 80%;
            h1 {
                font-size: 4em;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .hero__background {
        .hero__placeholder {
            width: 70%;
            h1 {
                font-size: 6em;
            }
        }
    }
}

@media (hover: hover) {
    .hero__background {
        .hero__button {
            &:hover {
                background-color: #ffffff;
                color: black;
                transition: ease-in 0.3s;
            }
        }
    }
}
