.card__container {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .image__content {
        position: relative;
        text-align: center;

        img {
            &.complete {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
                object-position: center;
            }
        }

        .card__delete {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 44px;
            min-height: 44px;
            border-radius: 0 0 0 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            button {
                min-width: 45px;
                min-height: 45px;
                border: none;
                outline: none;
                cursor: pointer;
                text-decoration: none;
                background-color: #ff69b4;

                i {
                    color: white;
                    font-size: 16px;
                }
            }
        }
    }

    .card__content {
        padding: 8px 16px 16px 16px;
        max-height: 250px;
        color: var(--color-text);
        display: flex;
        flex-direction: column;

        a {
            color: inherit;
            font: inherit;
            text-decoration: none;

            .card__name {
                color: inherit;
                padding: 2px 0 8px 0;
                margin-bottom: 4px;
            }

            .card__city {
                font-size: 0.8em;
                padding: 4px 0;
            }

            .card__description {
                padding-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }
}

@media (hover: hover) {
    .card__container {
        &:hover {
            transition: all 0.3s ease-out;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        }

        .image__content {
            .card__delete {
                button {
                    &:hover {
                        transition: 0.3s ease-in;
                        background-color: #e74c3c;
                    }
                }
            }
        }
    }
}
