.card__container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    a {
        color: inherit;
        font: inherit;
        text-decoration: none;

        .card__rating {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            top: 166px;
            left: 2px;
            padding: 4px 8px 4px 4px;
            font-size: 14px;
            color: var(--color-text);
            font-weight: bolder;
            background-color: var(--color-article-background);
            border-radius: 2px;
        }

        img {
            margin: auto;
            height: 200px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .card__content {
            padding: 8px 16px 16px 16px;
            max-height: 250px;
            color: var(--color-text);
            display: flex;
            flex-direction: column;

            .card__name {
                color: inherit;
                padding: 2px 0 8px 0;
            }

            .card__city {
                font-size: 0.8em;
                padding: 4px 0;
            }

            .card__description {
                padding-top: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }

    .card__delete {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 44px;
        min-height: 44px;
        border-radius: 0 0 0 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        button {
            min-width: 45px;
            min-height: 45px;
            border: none;
            outline: none;
            cursor: pointer;
            text-decoration: none;
            background-color: rgb(246, 205, 97);

            i {
                color: white;
                font-size: 16px;
            }
        }
    }
}

@media (hover: hover) {
    .card__container {
        &:hover {
            transition: transform 0.3s ease-out;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        }

        .card__delete {
            button {
                &:hover {
                    transition: background-color 0.3s ease-in;
                    background-color: #e74c3c;
                }
            }
        }
    }
}
