@media screen and (min-width: 768px) {
    .profile__container {
        .profile__content {
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 5%;
            max-width: 1400px;
            text-align: left;

            .profile__desc_container {
                order: 1;
            }

            .profile__image_container {
                order: 2;
                margin-left: auto;
            }
        }
    }
}
