<!--
@author Indra Mahkota
@email indramahkota1@gmail.com
@create date 2020-08-26 21:36:08
@modify date 2020-08-28 10:45:08
@desc [description]
-->
<header class="header">
    <a href="/" class="header__logo">
        <span class="logo__name">Ponti Resto Finder</span>
    </a>

    <button id="header-hamburger" class="hamburger__btn">
        <span class="hamburger__icon"></span>
    </button>

    <ul class="header__menu">
        <li>
            <a href="#find">Find Resto</a>
        </li>
        <li>
            <a href="#suggestion">Our Suggestion</a>
        </li>
        <li>
            <a href="#my">My Favorites</a>
        </li>
    </ul>
</header>