@media (hover: hover) {
    .social__media {
        ul {
            li {
                a {
                    i {
                        &:hover {
                            transition: 0.3s ease-in;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}
