.reviewform__container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .reviewinput__name {
        font-family: "Montserrat", sans-serif;
    }

    .reviewtextarea__review {
        font-family: "Montserrat", sans-serif;
    }

    /* .reviewbutton__submit {
        
    } */
}