.reviewform__container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--color-article-background);
    display: flex;
    flex-direction: column;

    .reviewinput__name {
        font-family: "Montserrat", sans-serif;
    }

    .reviewtextarea__review {
        font-family: "Montserrat", sans-serif;
    }

    /* .reviewbutton__submit {
        
    } */
}