.reviewform__container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .reviewinput__name {
        font: inherit;
        min-height: 44px;
        padding: 8px;
        border-radius: 3px;
        outline: none;
        box-shadow: none;
        color: var(--color-text);
        background-color: var(--color-article-background);
        border: 1px solid var(--color-input-border);
        -webkit-appearance: none;
        transition: inherit;

        &:focus {
            box-shadow: 0 0 0 1px #45a1ff, 0 0 0 4px rgba(69, 161, 255, 0.3), 0 0 0 1px #45a1ff;
        }

        &:invalid {
            box-shadow: 0 0 0 1px #c01515, 0 0 0 4px rgba(192, 21, 21, 0.3), 0 0 0 1px #c01515;
        }
    }

    .reviewtextarea__review {
        font: inherit;
        margin-top: 8px;
        min-height: 88px;
        padding: 8px;
        border-radius: 3px;
        outline: none;
        box-shadow: none;
        color: var(--color-text);
        background-color: var(--color-article-background);
        border: 1px solid var(--color-input-border);
        -webkit-appearance: none;
        transition: inherit;

        &:focus {
            box-shadow: 0 0 0 1px #45a1ff, 0 0 0 4px rgba(69, 161, 255, 0.3), 0 0 0 1px #45a1ff;
        }

        &:invalid {
            box-shadow: 0 0 0 1px #c01515, 0 0 0 4px rgba(192, 21, 21, 0.3), 0 0 0 1px #c01515;
        }
    }

    .reviewbutton__submit {
        margin-top: 8px;
        min-height: 44px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background-color: var(--color-button);
        border: solid 1px var(--color-button);
    }
}

@media (hover: hover) {
    .reviewform__container {
        .reviewbutton__submit {
            &:hover {
                background-color: #ffffff;
                color: black;
                transition: ease-in 0.3s;
            }
        }
    }
}
