/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:26
 * @modify date 2020-09-08 13:00:45
 * @desc [description]
 */

@use "../../../styles/components/toggle";
@use "../../../styles/components/hamburger";
@use "../../../styles/components/drawer";

:host {
  display: block;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 0 5%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-out;
  border-bottom: 1px solid var(--color-page-background);
  background-color: var(--color-article-background);

  .header__logo {
    min-height: 44px;
    padding-bottom: 4px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.3em;
    font-family: "Pacifico", cursive;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
  }

  @include toggle.all;

  @include hamburger.all;

  @include drawer.all;
}
