/**
 * @author [author]
 * @email [example@mail.com]
 * @create date 2020-08-28 22:44:43
 * @modify date 2020-09-08 13:01:10
 * @desc [description]
 */

@media screen and (min-width: 768px) {
    .header {
        .header__button {
            display: none;
        }

        .toggle__container {
            margin-left: 0;
        }

        .header__drawer {
            position: static;
            min-width: auto;
            min-height: auto;
            border: none;
            background-color: transparent;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                    a {
                        .chevron {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
