/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:26
 * @modify date 2020-08-29 19:14:00
 * @desc [description]
 */

:host {
  display: block;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 0 5%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  .header__logo {
    min-height: 44px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Pacifico", cursive;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
  }

  .hamburger__btn {
    min-width: 44px;
    min-height: 44px;
    padding: 20px 20px;
    border: none;
    background: none;
    user-select: none;
    text-decoration: none;
    margin-left: auto;

    .hamburger__icon {
      display: block;
      position: relative;
      background: #333;
      width: 18px;
      height: 2px;
      transition: background 0.2s ease-out;
    }

    .hamburger__icon:before,
    .hamburger__icon:after {
      content: "";
      display: block;
      position: absolute;
      background: #333;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-out;
    }

    .hamburger__icon:before {
      top: 5px;
    }

    .hamburger__icon:after {
      top: -5px;
    }
  }

  .hamburger__btn.change {
    .hamburger__icon {
      background: transparent;
    }

    .hamburger__icon:before {
      top: 0;
      transform: rotate(-45deg);
    }

    .hamburger__icon:after {
      top: 0;
      transform: rotate(45deg);
    }
  }

  .navigation__drawer {
    top: 80px;
    right: -300px;
    min-width: 300px;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: white;
    transition: all 0.2s ease-out;
    border-style: solid;
    border-color: red;
    border-width: 0 0 0 0.12em;

    ul {
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 44px;

        a {
          padding: 10px 15px;
          color: black;
          text-decoration: none;
          position: relative;

          .chevron {
            width: 0.45em;
            height: 0.45em;
            border-style: solid;
            border-width: 0.12em 0.12em 0 0;
            display: inline-block;
            transform: rotate(45deg);
            position: absolute;
            top: 1em;
            right: 1em;
          }
        }

        a.active {
          background-color: #f4f4f4;
        }

        a:hover {
          background-color: #f4f4f4;
        }
      }
    }
  }

  .navigation__drawer.change {
    right: 0;
  }
}
