/**
 * @author [author]
 * @email [example@mail.com]
 * @create date 2020-08-28 22:44:43
 * @modify date 2020-08-29 19:14:06
 * @desc [description]
 */

@media screen and (min-width: 360px) {
    .header {
        .switch {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .hamburger__btn {
            display: none;
        }

        .switch {
            margin-left: 0;
            display: inline-block;
        }

        .navigation__drawer {
            position: static;
            min-width: auto;
            min-height: auto;
            border: none;
            background-color: transparent;

            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                    a {
                        .chevron {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
