/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:26
 * @modify date 2020-08-29 19:14:00
 * @desc [description]
 */

:host {
  display: block;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 0 5%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-article-background);

  .header__logo {
    min-height: 44px;
    padding-bottom: 4px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.3em;
    font-family: "Pacifico", cursive;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
  }

  .switch {
    display: none;
    position: relative;
    margin-left: auto;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #152028;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  .hamburger__btn {
    min-width: 44px;
    min-height: 44px;
    padding: 20px 20px;
    border: none;
    background: none;
    user-select: none;
    text-decoration: none;
    margin-left: auto;

    .hamburger__icon {
      display: block;
      position: relative;
      background: var(--color-text);
      width: 18px;
      height: 2px;
      transition: background 0.2s ease-out;
    }

    .hamburger__icon:before,
    .hamburger__icon:after {
      content: "";
      display: block;
      position: absolute;
      background: var(--color-text);
      width: 100%;
      height: 100%;
      transition: all 0.2s ease-out;
    }

    .hamburger__icon:before {
      top: 5px;
    }

    .hamburger__icon:after {
      top: -5px;
    }
  }

  .hamburger__btn.change {
    .hamburger__icon {
      background: transparent;
    }

    .hamburger__icon:before {
      top: 0;
      transform: rotate(-45deg);
    }

    .hamburger__icon:after {
      top: 0;
      transform: rotate(45deg);
    }
  }

  .navigation__drawer {
    top: 60px;
    right: -300px;
    min-width: 300px;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: var(--color-article-background);
    transition: all 0.2s ease-out;
    border-style: solid;
    border-color: red;
    border-width: 0 0 0 0.12em;

    ul {
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 44px;

        a {
          padding: 10px 10px;
          color: var(--color-text);
          text-decoration: none;
          position: relative;

          .chevron {
            width: 0.45em;
            height: 0.45em;
            border-style: solid;
            border-width: 0.12em 0.12em 0 0;
            display: inline-block;
            transform: rotate(45deg);
            position: absolute;
            top: 1em;
            right: 1em;
          }
        }

        a.active {
          background-color: var(--color-page-background);
        }

        a:hover {
          background-color: var(--color-page-background);
        }
      }
    }
  }

  .navigation__drawer.change {
    right: 0;
  }
}
