.restoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .restoTitle {
        margin: 10px 0;
        padding: 20px;
        font-size: 1.5em;
        color: var(--color-text);
    }

    .restoItems {
        margin: 8px auto 8px auto;
        width: 90%;
        max-width: 1350px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .restoEmpty {
        text-align: center;
        border-radius: 8px;
        padding: 20px;
        color: var(--color-text);
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
        background-color: var(--color-article-background);

        img {
            width: 75px;
        }
    }
}

@media screen and (min-width: 650px) {
    .restoContainer {
        .restoItems {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 970px) {
    .restoContainer {
        .restoItems {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1400px) {
    .restoContainer {
        .restoItems {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (hover: hover) {
    .restoContainer {
        .restoEmpty {
            &:hover {
                transition: all 0.3s ease-out;
                transition-property: transform, box-shadow;
                -webkit-transform: translateY(-8px);
                -ms-transform: translateY(-8px);
                transform: translateY(-8px);
                box-shadow: 0 4px 16px -8px var(--color-background-shadow);
            }
        }
    }
}
