.resto__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .resto__title {
        margin: 10px 0;
        padding: 20px;
        color: var(--color-text);
    }

    .resto__items {
        margin: 8px auto 8px auto;
        width: 90%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
