@media screen and (min-width: 650px) {
    .resto__container {
        .resto__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 970px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1400px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
