.resto__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .resto__title {
        margin: 10px 0;
        padding: 20px;
        color: var(--color-text);
    }

    .resto__items {
        margin: 8px auto 8px auto;
        width: 90%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .resto__empty {
        text-align: center;
        border-radius: 8px;
        padding: 20px;
        color: var(--color-text);
        background-color: var(--color-article-background);
        box-shadow: 0 4px 8px -4px var(--color-background-shadow);

        img {
            width: 75px;
        }
    }
}

@media screen and (min-width: 650px) {
    .resto__container {
        .resto__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 970px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1400px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (hover: hover) {
    .resto__container {
        .resto__empty {
            &:hover {
                transition: all 0.3s ease-out;
                -webkit-transform: translateY(-8px);
                -ms-transform: translateY(-8px);
                transform: translateY(-8px);
                box-shadow: 0 4px 16px -8px var(--color-background-shadow);
            }
        }
    }
}
