.pageDetailsContainer {
    width: 100%;
    display: flex;
    padding: 20px;

    .pageDetails {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .pageDetailsDescriptionCard {
            display: flex;
            flex-direction: column;
        }

        .pageDetailsReviewCard {
            margin-top: 20px;

            .pageDetailsFavoriteContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                border-radius: 8px;
                color: var(--color-text);
                box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
                background-color: var(--color-article-background);

                h1 {
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .pageDetailsContainer {
        .pageDetails {
            display: flex;
            flex-direction: row;
            max-width: 1350px;

            .pageDetailsDescriptionCard {
                width: 60%;
                margin-right: 8px;
                display: flex;
                flex-direction: column;
            }

            .pageDetailsReviewCard {
                width: 40%;
                margin-top: 0;
                margin-left: 8px;
            }
        }
    }
}
