.pagedetails__container {
    width: 100%;
    display: flex;
    padding: 20px;

    .pagedetails {
        display: flex;
        flex-direction: column;
        max-width: 1350px;
        margin: 0 auto;

        .pagedetails__detailscard {
            display: flex;
            flex-direction: column;
        }

        .pagedetails__reviewcard {
            margin-top: 20px;

            .pagedetails__favorite__container {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                border-radius: 8px;
                color: var(--color-text);
                box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
                background-color: var(--color-article-background);

                h1 {
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .pagedetails__container {
        .pagedetails {
            flex-direction: row;

            .pagedetails__detailscard {
                width: 60%;
                margin-right: 8px;
                display: flex;
                flex-direction: column;
            }

            .pagedetails__reviewcard {
                width: 40%;
                margin-top: 0;
                margin-left: 8px;
            }
        }
    }
}
