// Light Theme Color
$light-for-text: #000000;
$light-for-card: #ffffff;
$light-for-background: #f1f1f1;
$light-for-hero-background: rgba(255, 255, 255, 0.25);
$light-for-background-shadow: rgba(0, 0, 0, 1);
$light-for-gradient-weak: #eff1f3;
$light-for-gradient-strong: #e2e2e2;
$light-for-line: #d7d7d7;

// Dark Theme Color
$dark-for-text: #ffffff;
$dark-for-card: #3a3b3c;
$dark-for-background: #18191a;
$dark-for-hero-background: rgba(24, 25, 26, 0.25);
$dark-for-background-shadow: rgba(255, 255, 255, 1);
$dark-for-gradient-weak: #2e2e30;
$dark-for-gradient-strong: #1d1d1f;
$dark-for-line: #e2e2e2;

$light-button-color: #2b6ca1;
$dark-button-color: #0c3253;