// Light Theme Color
$light-for-text: #000000;
$light-for-card: #ffffff;
$light-for-background: #f1f1f1;
$light-for-hero-background: rgba(255, 255, 255, 0.5);

// Dark Theme Color
$dark-for-text: #ffffff;
$dark-for-card: #3a3b3c;
$dark-for-background: #18191a;
$dark-for-hero-background: rgba(24, 25, 26, 0.5);