/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-01 20:53:05
 * @modify date 2020-09-08 18:08:44
 * @desc [description]
 */

.social__media {
    font-size: 1.5em;

    ul {
        display: flex;
        flex-direction: row;

        li {
            margin: 4px;
            list-style-type: none;

            a {
                display: flex;
                width: 2em;
                height: 2em;
                border-radius: 1em;
                text-decoration: none;
                border-radius: 1em;
                text-align: center;

                i {
                    width: 2em;
                    height: 2em;
                    border-radius: 1em;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        transition: 0.3s ease-in;
                        background-color: black;
                    }
                }
            }
        }
    }
}
