.social__media {
    font-size: 2em;

    ul {
        display: flex;
        flex-direction: row;

        li {
            margin: 4px;
            text-decoration: none;
            list-style-type: none;

            a {
                width: 44px;
                height: 44px;
                border-radius: 22px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.facebook {
                    background-color: #3b5998;
                }

                &.linkedin {
                    background-color: #0e76a8;
                }

                &.github {
                    background-color: #333;
                }

                &.gitlab {
                    background-color: #fca326;
                }

                &.google {
                    background-color: #ea4335;
                }

                &:hover {
                    background-color: black;
                    transition: 0.3s ease-in;
                }

                svg {
                    color: white;
                    width: 24px;
                    height: 24px;
                    pointer-events: none;
                }
            }
        }
    }
}
