/* ___Components___ */

/* AppBar Style */
@import "../scripts/_library_/components/app-bar/app-bar.scss";

/* AppToast style */
@import "../scripts/_library_/components/app-toast/app-toast.scss";

/* DetailsCard style */
@import "../scripts/_library_/components/details-card/details-card.scss";

/* DetailsCardShimmer style */
@import "../scripts/_library_/components/detailscard-shimmer/details-card-shimmer.scss";

/* FavoriteButton style */
@import "../scripts/_library_/components/favorite-button/favorite-button.scss";

/* FootBar style */
@import "../scripts/_library_/components/foot-bar/foot-bar.scss";

/* GoTop style */
@import "../scripts/_library_/components/go-top/go-top.scss";

/* HeroElement style */
@import "../scripts/_library_/components/hero-element/hero-element.scss";

/* RatingElement style */
@import "../scripts/_library_/components/rating-element/rating-element.scss";

/* RestoCard style */
@import "../scripts/_library_/components/resto-card/resto-card.scss";

/* RestoCardShimmer style */
@import "../scripts/_library_/components/restocard-shimmer/resto-card-shimmer.scss";

/* ReviewCard style */
@import "../scripts/_library_/components/review-card/review-card.scss";

/* ReviewForm style */
@import "../scripts/_library_/components/review-form/review-form.scss";

/* SearchBar style */
@import "../scripts/_library_/components/search-bar/search-bar.scss";

/* SocialMedia style */
@import "../scripts/_library_/components/sosial-media/social-media.scss";

/* UserProfile style */
@import "../scripts/_library_/components/user-profile/user-profile.scss";

/* ___Containers___ */

/* RestoContainer style */
@import "../scripts/_library_/containers/resto-container/resto-container.scss";

/* ReviewContainer style */
@import "../scripts/_library_/containers/review-container/review-container.scss";

/* ___Pages___ */

/* PageDetails */
@import "../scripts/views/page-details.scss";
