/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:26
 * @modify date 2020-08-27 21:38:12
 * @desc [description]
 */

/* default flex -> direction row
    min-height 56px agar dapat menampung objek klik > standar 44px
    posisi selalu tetap dan selalu berada diatas
    margin dan padding aa bb, top-bottom left-right
    align-items mengikuti direction -> horizontal center
    justify-content akan memberikan spasi otomatis kiri-kanan setiap objek child
 */
.header {
  width: 100%;
  min-height: 56px;
  display: flex;
  position: fixed;
  padding: 20px 5%;
  margin: 0px auto;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

/* start menu button (input type checkbox)
  ---------------------------------------------- */

/* button menggunakan input checkbox yang akan menjadi parent hamburger icon
    override standar style button dengan min-width-height 44px
 */
.header .menu-btn {
  padding: 20px 20px;
  border: none;
  background: none;
  user-select: none;
  text-decoration: none;
  margin-left: auto;
  min-width: 44px;
  min-height: 44px;
}

/* membuat persegi panjang dengan nama class .navicon
    class tsb diberi before dan after agar menjadi 3 buah objek hamburger icon
    position relative menyediakan property top, right, bottom, and left
    untuk memposisikan element relative terhadap posisi awal/normalnya
    memberikan .navicon transisi dengan definisi background
 */
.header .menu-btn .navicon {
  display: block;
  position: relative;
  background: #333;
  width: 18px;
  height: 2px;
  transition: background 0.2s ease-out;
}

/* override position menjadi absolute untuk objek before dan after
    karena parent posisi relative, maka absolutnya terhadap parent
    memberikan nilai top agar terlihat diatas/bawah
    memberikan .navicon:after/before transisi dengan definisi all
 */
.header .menu-btn .navicon:before,
.header .menu-btn .navicon:after {
  content: "";
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.header .menu-btn .navicon:before {
  top: 5px;
}

.header .menu-btn .navicon:after {
  top: -5px;
}

/* css selector > mencari semua element .navicon dengan parent
    yang memiliki class .menu-btn dan .change dan mengubah stylenya
    style default sudah didefinisikan diatas
 */
.header .menu-btn.change > .navicon {
  background: transparent;
}

.header .menu-btn.change > .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn.change > .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn.change > .navicon:before,
.header .menu-btn.change > .navicon:after {
  top: 0;
}

/* start logo
  ---------------------------------------------- */

/* 1.5em <=> 1.5 * 16px = 24px
    mengubah default style anchor <a>
    padding bawah 4px untuk menyesuaikan font aja, seperti tidak sejajar dengan elemen lain
    memberikan display flex dan direction column agar .logo-name (child) bisa ketengah secara vertikal
 */
.header .logo {
  display: flex;
  font-size: 1.5em;
  min-height: 44px;
  padding-bottom: 4px;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  text-decoration: none;
}

/* check untuk melihat bagaimana font-variant-ligatures bekerja
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-ligatures#:~:text=The%20font%2Dvariant%2Dligatures%20CSS,forms%20in%20the%20resulting%20text.
 */
.header .logo-name {
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

/* start list menu
  ---------------------------------------------- */

/* default flex -> direction row
    max-height dan width 0 agar tidak tampil dahulu (mobile first)
*/
.header .menu {
  display: flex;
  max-height: 0;
  max-width: 0;;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

/* start media query
  ---------------------------------------------- */

/* 48em = 768px || 48 * 16 = 768 untuk ukuran diatas 768*/
@media screen and (min-width: 48em) {
  .header .menu {
    max-height: none;
    max-width: none;
  }
  .header .menu-btn {
    display: none;
  }
}
