/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:26
 * @modify date 2020-08-28 11:29:27
 * @desc [description]
 */

/* default flex -> direction row
    min-height 56px agar dapat menampung objek klik > standar 44px
    posisi selalu tetap dan selalu berada diatas
    margin dan padding aa bb, top-bottom left-right
    align-items mengikuti direction -> horizontal center
    justify-content akan memberikan spasi otomatis kiri-kanan setiap objek child
 */
.header {
  width: 100%;
  min-height: 56px;
  display: flex;
  position: fixed;
  padding: 20px 5%;
  margin: 0px auto;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

/* start humburger button
  ---------------------------------------------- */

/* hamburger__btn akan menjadi parent hamburger__icon
    override standar style button dengan min-width-height 44px
 */
.hamburger__btn {
  padding: 20px 20px;
  border: none;
  background: none;
  user-select: none;
  text-decoration: none;
  margin-left: auto;
  min-width: 44px;
  min-height: 44px;
}

/* membuat persegi panjang dengan nama class .hamburger__icon
    class tsb diberi before dan after agar menjadi 3 buah objek
    position relative menyediakan property top, right, bottom, and left
    untuk memposisikan element relative terhadap posisi awal/normalnya
    memberikan .hamburger__icon transisi background
 */
.hamburger__icon {
  display: block;
  position: relative;
  background: #333;
  width: 18px;
  height: 2px;
  transition: background 0.2s ease-out;
}

/* override position menjadi absolute untuk objek before dan after
    karena parent posisi relative, maka absolutnya terhadap parent
    memberikan nilai top agar terlihat diatas/bawah
    memberikan .hamburger__icon:after/before transisi all
 */
.hamburger__icon:before,
.hamburger__icon:after {
  content: "";
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}

.hamburger__icon:before {
  top: 5px;
}

.hamburger__icon:after {
  top: -5px;
}

/* css selector > mencari semua element .hamburger__icon dengan parent
    yang memiliki class .hamburger__btn dan .change dan mengubah stylenya
    style default sudah didefinisikan diatas
 */
.hamburger__btn.change > .hamburger__icon {
  background: transparent;
}

.hamburger__btn.change > .hamburger__icon:before {
  transform: rotate(-45deg);
}

.hamburger__btn.change > .hamburger__icon:after {
  transform: rotate(45deg);
}

.hamburger__btn.change > .hamburger__icon:before,
.hamburger__btn.change > .hamburger__icon:after {
  top: 0;
}

/* start logo
  ---------------------------------------------- */

/* 1.5em <=> 1.5 * 16px = 24px
    mengubah default style anchor <a>
    padding bawah 4px untuk menyesuaikan font aja, seperti tidak sejajar dengan elemen lain
    memberikan display flex dan direction column agar .logo-name (child) bisa ketengah secara vertikal
 */
.header__logo {
  display: flex;
  font-size: 1.5em;
  min-height: 44px;
  font-weight: bold;
  padding-bottom: 6px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

/* check untuk melihat bagaimana font-variant-ligatures bekerja
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-ligatures#:~:text=The%20font%2Dvariant%2Dligatures%20CSS,forms%20in%20the%20resulting%20text.
 */
.header__logo > .logo-name {
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}

/* start list menu
  ---------------------------------------------- */

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

/* default flex -> direction row
    max-height dan width 0 agar tidak tampil dahulu (mobile first)
*/
.header__menu {
  display: flex;
  max-height: 0;
  max-width: 0;
}

.header__menu li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.header__menu li a:hover {
  background-color: #f4f4f4;
}

/* start media query
  ---------------------------------------------- */

/* 48em = 768px || 48 * 16 = 768 untuk ukuran diatas 768*/
@media screen and (min-width: 48em) {
  .header__menu {
    max-height: none;
    max-width: none;
  }
  .hamburger__btn {
    display: none;
  }
}
