/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:17
 * @modify date 2020-08-28 11:24:19
 * @desc [description]
 */

@import "./utilities/variables";

//under development :: default light
//under development :: default light
:root {
    --color-text: #{$light-for-text};
    --color-article-background: #{$light-for-card};
    --color-page-background: #{$light-for-background};
}

.dark {
    --color-text: #{$dark-for-text};
    --color-article-background: #{$dark-for-card};
    --color-page-background: #{$dark-for-background};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
html {
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-page-background);
    /* ukuran static font-size: 19px, line-height: 23px; */
    font: 19px / 23px Montserrat, "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #content {
        margin-top: 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/* Ukuran viewport dibawah 1380px */
@media (max-width: 1380px) {
    html,
    body {
        font-size: 16px;
        // ukuran static yang akan jadi acuan ukuran em di child
        line-height: normal;
    }
}
