/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-26 21:36:17
 * @modify date 2020-08-28 11:24:19
 * @desc [description]
 */

@import "./utilities/variables";

//under development :: default light
:root {
    --color-text: #{$light-for-text};
    --color-text-hero: #{$dark-for-hero-background};
    --color-article-background: #{$light-for-card};
    --color-page-background: #{$light-for-background};
    --color-hero-background: #{$light-for-hero-background};
    --color-background-shadow: #{$light-for-background-shadow};
}

.dark {
    --color-text: #{$dark-for-text};
    --color-text-hero: #{$light-for-text};
    --color-article-background: #{$dark-for-card};
    --color-page-background: #{$dark-for-background};
    --color-hero-background: #{$dark-for-hero-background};
    --color-background-shadow: #{$dark-for-background-shadow};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.2s ease-out;
    background-color: var(--color-page-background);
    /* ukuran static font-size: 16px, line-height: normal; */
    font: 16px / normal Montserrat, "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .skip-link {
        position: absolute;
        top: -40px;
        left: 0;
        background-color: #bf1722;
        color: white;
        padding: 8px;
        z-index: 1001;
    }

    .skip-link:focus {
        top: 0;
    }

    #content {
        padding-top: 60px;
    }

    @import './../scripts/components/index.scss';
}