.toast__container {
    width: 100%;
    bottom: 50px;
    z-index: 999;
    display: flex;
    position: fixed;

    .app__toast {
        width: 80%;
        max-width: 250px;
        margin: auto;
        color: #fff;
        border-radius: 8px;
        padding: 16px;
        text-align: center;
        background-color: #333;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
