/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-06 00:21:26
 * @modify date 2020-09-06 00:21:26
 * @desc [description]
 */

.card__container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: var(--color-article-background);

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .card__content {
        padding: 2px 16px;
        color: var(--color-text);
    }
}
