/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-06 00:21:26
 * @modify date 2020-09-06 00:21:26
 * @desc [description]
 */

//box shadow generator https://www.cssmatic.com/box-shadow
.card__container {
    transition: 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    &:hover {
        box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        transition: all 0.3s ease-out;
    }

    img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .card__content {
        padding: 8px 16px;
        max-height: 250px;
        color: var(--color-text);

        .card__name {
            text-decoration: none;
            color: inherit;
        }

        .card__city {
            font-size: 0.8em;
            padding: 4px 0;
        }

        .card__description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
}
