/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-06 00:21:26
 * @modify date 2020-09-06 00:21:26
 * @desc [description]
 */

.card__container {
    width: auto;
}