.profileContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .profileTitle {
        margin: 10px 0;
        padding: 20px;
        font-size: 1.5em;
        color: var(--color-text);
    }

    .profileContent {
        width: 90%;
        margin: 8px 0;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
        background-color: var(--color-article-background);

        .profileDescriptionContainer {
            order: 2;

            .profileName {
                margin: 10px 0;
                color: var(--color-text);
            }

            .profileLocation {
                margin: 10px 0;
                color: var(--color-text);
            }

            .profileHirable {
                margin: 10px 0;
                color: var(--color-text);
            }

            .profileMediaSocial {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .profileImageContainer {
            order: 1;

            .profileImage {
                max-width: 200px;
                height: auto;
                border-radius: 50%;
                border: 0.5rem solid rgb(246, 205, 97);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .profileContainer {
        .profileContent {
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 5%;
            max-width: 1400px;
            text-align: left;

            .profileDescriptionContainer {
                order: 1;
            }

            .profileImageContainer {
                order: 2;
                margin-left: auto;
            }
        }
    }
}

@media (hover: hover) {
    .profileContainer {
        .profileContent {
            &:hover {
                transition: transform 0.3s ease-out;
                -webkit-transform: translateY(-8px);
                -ms-transform: translateY(-8px);
                transform: translateY(-8px);
                box-shadow: 0 4px 16px -8px var(--color-background-shadow);
            }
            .profileImageContainer {
                .profileImage {
                    &:hover {
                        box-shadow: 0 4px 16px -8px var(--color-background-shadow);
                        transition: box-shadow 0.3s ease-out;
                    }
                }
            }
        }
    }
}
