:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 600px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* #WARNING# sass loader mengkonversi ke css mentah-mentah, bisa jadi url gambar tidak bisa di resolve */
  background: center / cover no-repeat url("../assets/images/heros/hero-image.webp");
  /*  #WARNING# Laggg... */
  background-attachment: fixed; /* Comment jika tidak ingin lag/fixed position */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  .hero__placeholder {
    width: 90%;
    color: rgba(246, 205, 97);
    font-weight: bold;
    text-align: center;
    // margin-bottom: 100px;

    h1 {
      font-size: 3.5em;
      line-height: 90%;
      font-family: Arial, Helvetica, sans-serif;
      transition-property: transform;
      background-color: var(--color-hero-background);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

      .medium {
        font-size: 0.75em;
        font-family: "Pacifico", cursive;
      }
    }
  }

  .hero__button {
    background-color: #55198b;
    border: solid 1px #55198b;
    color: white;
    padding: 16px 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;

    /* &:hover {
      background-color: #ffffff;
      color: black;
      transition: ease-in 0.3s;
    } */
  }
}
