:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  /* #WARNING# sass loader mengkonversi ke css mentah-mentah, bisa jadi url gambar tidak bisa di resolve */
  background: center / cover no-repeat url("../assets/images/heros/hero-image.webp");

  .hero__placeholder {
    color: var(--color-text);
    width: 100%;
    padding: 20px;
    font-weight: bold;
    text-align: center;

    h1,
    h2 {
      transition: all 0.2s ease-out;
      background-color: var(--color-hero-background);
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }
}
