@media screen and (min-width: 768px) {
    .hero__background {
        .hero__placeholder {
            width: 80%;

            h1 {
                font-size: 4em;
            }

            h2 {
                font-size: 3em;
            }
        }
    }
}
