:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
  /* #WARNING# sass loader mengkonversi ke css mentah-mentah, bisa jadi url gambar tidak bisa di resolve */
  background: center / cover no-repeat url("../assets/images/heros/hero-image.webp");
  /* CSS Gradient Generator https://cssgradient.io/ */
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.1) 80%), url('../path-ke-image.png')" */

  .hero__placeholder {
    color: var(--color-text);
    width: 100%;
    padding: 20px;
    font-weight: bold;
    text-align: center;

    h1,
    h2 {
      transition: all 0.2s ease-out;
      background-color: var(--color-hero-background);
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }
}
