/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-27 22:49:01
 * @modify date 2020-08-31 16:01:10
 * @desc [description]
 */

:host {
  display: block;
}

.hero__background {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero__placeholder {
    color: var(--color-text);
    width: 100%;
    padding: 20px;
    font-weight: bold;
    text-align: center;

    h1, h2 {
      transition: all 0.2s ease-out;
      background-color: var(--color-hero-background);
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }
  }
}
