/**
 * @author [author]
 * @email [example@mail.com]
 * @create date 2020-08-30 14:12:47
 * @modify date 2020-08-30 14:12:47
 * @desc [description]
 */

@media screen and (min-width: 768px) {
    .hero__background {
        .hero__placeholder {
            h1 {
                font-size: 4em;
            }

            h2 {
                font-size: 3em;
            }
        }
    }
}
