/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-03 13:30:26
 * @modify date 2020-09-06 21:04:55
 * @desc [description]
 */

.resto__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .resto__title {
        margin: 10px 0;
        color: var(--color-text);
    }

    .resto__items {
        margin: 32px auto 8px auto;
        width: 90%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
