.resto__container {
    width: 100%;
    display: flex;

    .resto__items {
        margin: 32px auto 8px auto;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
