/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-03 13:50:26
 * @modify date 2020-09-06 21:05:06
 * @desc [description]
 */

@media screen and (min-width: 650px) {
    .resto__container {
        .resto__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 970px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1400px) {
    .resto__container {
        .resto__items {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
