/* Components */

/* AppBar Style */
@import './components/app-bar/app-bar.scss';
@import './components/app-bar/app-bar-part.scss';

/* HeroElement style */
@import './components/hero-element/hero-element.scss';
@import './components/hero-element/hero-element-part.scss';

/* RestoCard style */
@import './components/resto-card/resto-card.scss';
@import './components/resto-card/resto-card-part.scss';

/* RatingElement style */
@import './components/rating-element/rating-element.scss';

/* UserProfile style */
@import './components/user-profile/user-profile.scss';
@import './components/user-profile/user-profile-part.scss';

/* SocialMedia style */
@import './components/sosial-media/social-media.scss';
@import './components/sosial-media/social-media-part.scss';

/* FootBar style */
@import './components/foot-bar/foot-bar.scss';

/* SearchBar style */
// @import './components/search-bar/search-bar.scss';

/* RestoCardShimmer style */
@import './components/restocard-shimmer/resto-card-shimmer.scss';

/* AppToast style */
@import './components/app-toast/app-toast.scss';

/* FavoriteButton style */
@import './components/favorite-button/favorite-button.scss';

/* DetailsCard style */
@import './components/details-card/details-card.scss';

/* MenuCard style */
@import './components/menu-card/menu-card.scss';

/* ReviewCard style */
@import './components/review-card/review-card.scss';

/* GoTop style */
@import './components/go-top/go-top.scss';
@import './components/go-top/go-top-part.scss';


/* Containers */

/* RestoContainer style */
@import './containers/resto-container/resto-container.scss';
@import './containers/resto-container/resto-container-part.scss';

/* ReviewContainer style */
@import './containers/review-container/review-container.scss';
@import './containers/review-container/review-container-part.scss';