.restodetails__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .restodetails__image {
        width: 100%;
        display: flex;
        padding: 20px;
        border-radius: 8px;
        background-color: var(--color-article-background);

        img {
            width: 100%;
            margin: auto;
            object-position: center;
            border-radius: 8px;
        }
    }

    .restodetails__content {
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        background-color: var(--color-article-background);
        color: var(--color-text);

        .restodetails__part {
            display: flex;
            flex-direction: row;
            margin-top: 8px;

            .restodetails__part1 {
                table {
                    tr {
                        .td__icon {
                            text-align: center;
                            vertical-align: top;
                        }

                        td {
                            p {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }

            .restodetails__part2 {
                display: flex;
                margin: 0 8px;
                min-width: 120px;
                flex-direction: column;
                align-items: center;
                margin-left: auto;
            }
        }

        .restodetails__description {
            margin-top: 8px;
        }

        .menucard__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .menucard__title {
                color: var(--color-text);
            }

            .menucard__content {
                display: flex;
                margin-top: 10px;
                flex-direction: column;

                .food__container {
                    margin-bottom: 16px;

                    h2 {
                        font-size: 1em;
                    }

                    .food_content {
                        ol {
                            display: flex;
                            flex-direction: column;
                            list-style-type: "\1F44D";
                            margin-left: 20px;

                            li {
                                padding-left: 8px;
                                border-bottom: 1px dotted lightgray;
                            }
                        }
                    }
                }

                .drink__container {
                    h2 {
                        font-size: 1em;
                    }

                    .drink_content {
                        ol {
                            display: flex;
                            flex-direction: column;
                            list-style-type: "\1F44D";
                            margin-left: 20px;

                            li {
                                padding-left: 8px;
                                border-bottom: 1px dotted lightgray;
                            }
                        }
                    }
                }
            }
        }
    }
}
