.restodetails__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .restodetails__image {
        display: flex;
        width: 100%;
        min-height: 250px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
        background-color: var(--color-article-background);

        img {
            margin: auto;

            &.complete {
                width: 100%;
                object-position: center;
                border-radius: 8px;
            }
        }
    }

    .restodetails__content {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
        color: var(--color-text);
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
        background-color: var(--color-article-background);

        .restodetails__part {
            display: flex;
            flex-direction: column;
            margin-top: 8px;

            .restodetails__part1 {
                table {
                    tr {
                        .td__icon {
                            text-align: center;
                            vertical-align: top;
                        }

                        td {
                            p {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }

            .restodetails__part2 {
                display: flex;
                margin: 8px;
                padding: 8px;
                min-width: 132px;
                flex-direction: column;
                align-items: center;
                border: solid 1px red;
                border-radius: 8px;
                border: 1px dotted lightgray;
            }
        }

        .restodetails__description {
            margin-top: 8px;
        }

        .menucard__container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            .menucard__title {
                color: var(--color-text);
            }

            .menucard__content {
                display: flex;
                margin-top: 10px;
                flex-direction: column;

                .food__container {
                    margin-bottom: 16px;

                    h2 {
                        font-size: 1em;
                    }

                    .food_content {
                        ol {
                            display: flex;
                            flex-direction: column;
                            list-style-type: '\1F44D';
                            margin-left: 20px;

                            li {
                                padding-left: 8px;
                                border-bottom: 1px dotted lightgray;
                            }
                        }
                    }
                }

                .drink__container {
                    h2 {
                        font-size: 1em;
                    }

                    .drink_content {
                        ol {
                            display: flex;
                            flex-direction: column;
                            list-style-type: '\1F44D';
                            margin-left: 20px;

                            li {
                                padding-left: 8px;
                                border-bottom: 1px dotted lightgray;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .restodetails__container {
        .restodetails__content {
            .restodetails__part {
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .restodetails__part2 {
                    margin-top: 0;
                    margin-left: auto;
                }
            }
        }
    }
}
