/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-08-27 21:16:34
 * @modify date 2020-08-27 21:44:58
 * @desc [description]
 */
footer {
    width: 100%;
    padding: 2em;
    color: var(--color-text);
    text-align: center;
}