.gotop__button {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    background-color: var(--color-button);
    transition: all ease-in-out 0.2s;

    &.hide {
        -webkit-transform: translateX(150px);
        -ms-transform: translateX(150px);
        transform: translateX(150px);
    }
}
