.gotop__button {
    position: fixed;
    bottom: 20px;
    right: -150px;
    z-index: 999;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    background-color: var(--color-button);
    transition: transform ease-in-out 0.2s;

    &.show {
        -webkit-transform: translateX(-160px);
        -ms-transform: translateX(-160px);
        transform: translateX(-160px);
    }
}

@media (hover: hover) {
    .gotop__button {
        &:hover {
            background-color: #000;
            transition: transform ease-in-out 0.2s;
        }
    }
}
