.favorite__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    bottom: 75px;
    right: 75px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: var(--color-text);
    background-color: var(--color-button);
}