/* AppBar Style */
@import './app-bar/app-bar.scss';
@import './app-bar/app-bar-responsive.scss';

/* HeroElement style */
@import './hero-element/hero-element.scss';
@import './hero-element/hero-element-responsive.scss';

/* RestoContainer style */
@import './resto-container/resto-container.scss';
@import './resto-container/resto-container-responsive.scss';

/* RestoCard style */
@import './resto-card/resto-card.scss';
@import './resto-card/resto-card-responsive.scss';

/* RatingElement style */
@import './rating-element/rating-element.scss';

/* UserProfile style */
@import './user-profile/user-profile.scss';
@import './user-profile/user-profile-responsive.scss';

/* SocialMedia style */
@import './sosial-media/social-media.scss';
@import './sosial-media/social-media-responsive.scss';

/* FootBar style */
@import './foot-bar/foot-bar.scss';

/* SearchBar style */
@import './search-bar/search-bar.scss';

/* RestoCardShimmer style */
@import './restocard-shimmer/resto-card-shimmer.scss';

/* AppToast style */
@import './app-toast/app-toast.scss';

/* FavoriteButton style */
@import './favorite-button/favorite-button.scss';

/* DetailsCard style */
@import './details-card/details-card.scss';