.reviewcard__container {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    color: var(--color-text);
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .reviewcard__image {
        width: 48px;
        padding: 2px;
        border-radius: 50%;
        background-color: var(--color-text);
    }

    .reviewcard__content {
        margin-left: 8px;

        .reviecard__name {
            font-weight: bold;
        }

        .reviewcard__time {
            font-size: 95%;
            padding-bottom: 4px;
        }
    }
}

@media (hover: hover) {
    .reviewcard__container {
        &:hover {
            transition: all 0.3s ease-out;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        }
    }
}

@media screen and (min-width: 1200px) {
    .reviewcard__container {
        .reviewcard__image {
            width: 64px;
        }
    }
}
