.reviewcard__container {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    color: var(--color-text);
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .reviewcard__image {
        width: 48px;
        padding: 2px;
        border-radius: 50%;
        background-color: var(--color-text);
    }

    .reviewcard__content {
        margin-left: 8px;

        .reviecard__name {
            font-weight: bold;

            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

        .reviewcard__time {
            font-size: 95%;
            padding-bottom: 4px;
        }

        .reviewcard__message {
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    }
}

@media (hover: hover) {
    .reviewcard__container {
        &:hover {
            transition: all 0.3s ease-out;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        }
    }
}

@media screen and (min-width: 1200px) {
    .reviewcard__container {
        .reviewcard__image {
            width: 64px;
        }
    }
}
