@media (hover: hover) {
    .reviewcard__container {
        //box shadow generator https://www.cssmatic.com/box-shadow
        &:hover {
            transition: all 0.3s ease-out;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
            box-shadow: 0 4px 16px -8px var(--color-background-shadow);
        }
    }
}
