/**
 * @author Indra Mahkota
 * @email indramahkota1@gmail.com
 * @create date 2020-09-05 10:33:43
 * @modify date 2020-09-05 10:33:43
 * @desc [description]
 */

.rating__container {
    display: inline-block;
    position: relative;
    width: fit-content;

    svg {
        width: 16px;
        height: auto;
        color: #f1f1f1;
    }

    .gold__rating__item {
        top: 0;
        left: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;

        svg {
            width: 16px;
            height: auto;
            color: gold;
        }
    }
}
