.review__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--color-article-background);
    padding-bottom: 20px;
    margin: 20px 0;

    .review__title {
        margin: 10px 0;
        padding: 20px;
        color: var(--color-text);
    }

    .review__items {
        margin: 8px auto 8px auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
