.reviewContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
    background-color: var(--color-article-background);

    .reviewTitle {
        margin: 10px 0;
        padding: 20px;
        color: var(--color-text);
    }

    .reviewItems {
        margin: 8px auto 8px auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
